@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background: hsl(185, 41%, 84%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
